.main {
  display: flex;
  background: #476fff;
  background: white;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  min-height: 100vh;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
  gap: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
}

.title {
  display: flex;
  font-size: 36px;
  color: #646464;
}

.subtitle {
  display: flex;
  font-size: 26px;
  color: #646464;
}

.form {
  width: 100%;
}

.searchBar {
  background: rgb(231, 231, 231);
  border-radius: 30px;
  border: none;
  height: 60px;
  width: 100%;
  font-size: 20px;
  padding-left: 30px;
  color: black;
}

.searchBar:focus {
  outline: none;
}

.searchText {
  display:flex;
  color: black;
  font-size: 26px;
}

.subLink {
  display: flex;
  color: lightgray;
  font-size: 16px;
}

.searchButton {
  width: 25px;
  height: 25px;
}

.list {
  width: 300px;
}

.option {
  width: 300px;
}