.main {
  display: flex;
  background: #C7CCDB;
  background: white;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.contentWrapper{
  display: flex;
  background: url("/media/bg.svg");
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 765px;
  width: 100%;
  gap: 30px;
  padding-top: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  padding: none;
  margin: none;
  height: auto;
  gap: 15px;
}

.title {
  display: flex;
  font-size: 54px;
  color: #2a324b;
  height: auto;
}

.title:hover {
  transform: rotateZ(360deg);
  transition: 3s ease-in-out
}

.subtitle {
  display: flex;
  font-size: 26px;
  color: #2a324b;
}

.form {
  width: 100%;
}

.searchWrapper{
  display: flex;
  flex-direction: row;
  width: stretch;
  justify-content: center;
}

.searchBar {
  height: 60px;
  width: 500px;;
  font-size: 20px;
  color: #2a324b;
  outline: none;
  border: none;
}

.searchBar:focus {
  outline: none;
  border: none;
}

.searchText {
  display:flex;
  color: black;
  font-size: 26px;
}

.subLink {
  display: flex;
  color: lightgray;
  font-size: 16px;
}

.searchButton {
  width: 25px;
  height: 25px;
}

.list {
  width: 300px;
}

.option {
  width: 300px;
}