.wrapper {
    display: flex;
    background: #476fff;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    box-shadow: 0px 5px 15px -5px black;
}

.leftSide {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    gap: 20px;
}

.rightSide {
    flex-direction: row;
    align-items: inherit;
}

.logo a {
    color: white;
}

.link {
    color: white;
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.linkWrapper {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/* .linkWrapper:hover {
    transition: 0.2s ease-in-out;
    border-bottom: 3px solid black;
    border-radius: 3px;
} */